USE [master]
GO
/****** Object:  Database [DevReportsDB]    Script Date: 14/06/2026 12:53:57 ******/
CREATE DATABASE [DevReportsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DevReportsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DevReportsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DevReportsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DevReportsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DevReportsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DevReportsDB]
GO
/****** Object:  User [dev_user]    Script Date: 14/06/2026 12:53:57 ******/
CREATE USER [dev_user] FOR LOGIN [dev_login] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [dev_user]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 14/06/2026 12:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Immediacy] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportProjects]    Script Date: 14/06/2026 12:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportProjects](
	[ReportId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC,
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 14/06/2026 12:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Date] [date] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[ReadAt] [datetime] NULL,
	[NotesByFullName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/06/2026 12:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([Id], [Name], [Description], [Status], [Immediacy], [CreatedAt], [UpdatedAt]) VALUES (1, N'מחסן חכם בעזרת RFID', N'שימוש בDT510P כדי לספור מלאי אוטומטית, לעקוב אחרי מיקום חבילה ספציפית, ושינוי מערכת הסידור במחסן על מנת לעקוב על המיקום של המשטחים ביחס לקטגוריית המיקום', N'ongoing', N'normal', CAST(N'2026-06-11T13:02:21.237' AS DateTime), NULL)
INSERT [dbo].[Projects] ([Id], [Name], [Description], [Status], [Immediacy], [CreatedAt], [UpdatedAt]) VALUES (2, N'בניית אתר לדיווח התקדמות למפתחים', N'', N'ongoing', N'normal', CAST(N'2026-06-11T13:03:27.150' AS DateTime), CAST(N'2026-06-11T13:03:59.123' AS DateTime))
INSERT [dbo].[Projects] ([Id], [Name], [Description], [Status], [Immediacy], [CreatedAt], [UpdatedAt]) VALUES (3, N'יצירת אתר למעקב אחרי נוכחות', NULL, N'future', N'low', CAST(N'2026-06-11T13:06:46.797' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
INSERT [dbo].[ReportProjects] ([ReportId], [ProjectId]) VALUES (6, 1)
INSERT [dbo].[ReportProjects] ([ReportId], [ProjectId]) VALUES (6, 2)
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([Id], [UserId], [Content], [Date], [Status], [Notes], [ReadAt], [NotesByFullName]) VALUES (4, 8, N'כל האתר שאתה רואה כרגע! אשמח לדעת מה אתה חושב! ☺️', CAST(N'2026-06-10' AS Date), N'published', N'היי דניאל , עבודה יפה ונקיה .
אהבתי מאוד 

המשיך כך ', CAST(N'2026-06-11T13:47:57.940' AS DateTime), NULL)
INSERT [dbo].[Reports] ([Id], [UserId], [Content], [Date], [Status], [Notes], [ReadAt], [NotesByFullName]) VALUES (6, 8, N'מה עשיתי היום:
התחלתי לעבוד על חישוב מרחק בפרויקט הRFID, ושיפרתי את האתר הרבה!

חסמים:
הפרויקט RFID מוגבל על ידי: 1. טווח המכשירים שבו הם קוראים את הכל הוא פחות ממטר. 2. חסר מדפסת כדי ליצור מדבקות לקחת מהן מידע שימושי.

מחר:
לנוח, מחר שישי!', CAST(N'2026-06-11' AS Date), N'published', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role], [IsActive]) VALUES (5, N'admin', N'A@@123456', N'Gabi', N'admin', 1)
INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role], [IsActive]) VALUES (6, N'zeevg', N'Z@@123456', N'Zeev', N'manager', 1)
INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role], [IsActive]) VALUES (7, N'dev_1', N'D1@@123456', N'Dor', N'developer', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4AE8A1127]    Script Date: 14/06/2026 12:53:57 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ('ongoing') FOR [Status]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT ('normal') FOR [Immediacy]
GO
ALTER TABLE [dbo].[Projects] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ('published') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
USE [master]
GO
